<!--
  Generated template for the ViewMediaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <img class="logo" src="assets/imgs/Logo White.png" alt="BREAK"/>

  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-card color="dark">
    <ion-card-title>{{title}}</ion-card-title>
    <img [src]="url">
    <p class="card-text">{{description}}</p>
    <p class="card-text">Posted by: {{username}}</p>
    <ion-card-content>
      <p *ngIf="message !== ''">{{ message }}</p>
    </ion-card-content>
    <ion-row class="buttons-row">

      <button ion-button icon-left clear small (click)="addFavorite(media.file_id)">
        <ion-icon name="heart"></ion-icon>
        {{amountOfLikes}} likes
      </button>

      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        {{amountOfComments}} Comments
      </button>
    </ion-row>
  </ion-card>

  <h1>Comments:</h1>

  <ion-list>
    <div *ngIf="amountOfComments">
      <ion-card *ngFor="let comment of commentsArray" class="post" color="dark">
        <ion-item class="post-info" color="dark">
          <div class="profile-border">
            <ion-avatar class="fpage">
              <img *ngIf="ppArray" [src]="getProfilePic(comment.user_id)" alt="TODO: username here"/>
              <img *ngIf="!ppArray" src="assets/imgs/nobody_m.original.jpg" alt="TODO: username here"/>
            </ion-avatar>
          </div>
          <div class="info-container">
            <ion-card-title *ngIf="commenter">{{getUsername(comment.user_id)}}</ion-card-title>
            <p>{{comment.time_added | date}}</p>
          </div>
        </ion-item>
        <ion-card-content>
          <p class="card-text">{{ comment.comment }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
  <form id="commentForm">
    <ion-input [(ngModel)]="commentData.comment" type="text" name="comment"
               placeholder="Write a comment"></ion-input>
  </form>
  <button ion-button (click)="addComment()">Comment</button>
  <!--ion-card color="dark">
    <ion-card-title>Commenter user</ion-card-title>
    <ion-card-content>
      <p class="card-text">Comment text</p>
    </ion-card-content>
  </ion-card-->

</ion-content>
