page-single {

  .pPic-and-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 20px 20px 20px 0;
    border-color: #666;
    border-width: 2px;

    .profile-border {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      padding: 3px;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #666;
      padding-left: 20px; 
      margin-right: -40px;
    }

    
  }

  ion-card-title {
    font-weight: bold;
    font-size: 2rem;
  }

  

    #map_canvas {
        height: 200px;
    }
    h3 {
        margin-left: 15px;
        color: #333333;
        font-size: 1.5rem;
    }
    .comment {
        border-radius: 5px;
        padding: 20px;
    }
    ion-label {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .form {
        border-radius: 5px;
        padding: 20px;
        margin: 15px;
        background-color: #222;
        ion-item {
            background-color: #222;
            padding: 0;
        }
        form {
            margin-bottom: 10px;
            input {
                width: 100%;
                margin: -15px 0 10px 0;
                border-radius: 15px;
            }
            button {
                margin: 100px;
            
        }
    }

  }
  ion-spinner {
    width: 100%;
  }
}