$background: #222;
$input-color: #888;

page-register {

  .available{
    color: #32db64;
  }
  .unavailable{
    color: #f53d3d;
  }

  .scroll-content {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  ion-content {
    background-image: url(../../assets/imgs/login.png);
    background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30vh;
      img {
        width: 60vw;
        height: auto;
      }
    }
    .form-background {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 70vh;
      background-color: $background;
      .logo {
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .item {
        background-color: $background;
        padding: 0;
        border-top: 0;
        ion-label,
        input {
          width: 100%;
          color: $input-color;
        }
        ion-label {
          ion-icon{
            margin-right: 12px;
          }
        }
      }
    }
  }

}
