
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: -16px;
  width: 100vw;
  padding: 50px 0;

  ion-avatar.p-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0;
    img {
      height: 100%;
      width: auto;
    }
    .half {
      width: 10%;
    }

    .label {
      width: 100%;
    }

  }

  ion-label {
    margin: 30px 0 0 0;
  }

  .item-inner,
  .input-wrapper {
    width: 100vw;
    border: 0 !important;
    padding: 0 !important;
  }
}
