
.card-header-container {
  justify-content: space-between;
  .delete-btn {
    width: 50px;
    margin: 20px;
  }
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: -16px;
  width: 100vw;
  padding: 50px 0;
  margin-bottom: 20px;

  .profile-border {
    width: 150px;
    height: 150px;
    padding: 4px;
    margin: 0 0 25px 0;
  }




  ion-avatar.p-page {
    width: 90%;
    height: 90%;
    margin: 0;

    img {
      width: 100%;
    }
    .half {
      width: 10%;
    }

    .label {
      width: 100%;
    }

  }

  ion-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    h1 {
      text-align: center;
    }

    .container {
      @extend %flex-center;
    }
  }



  .item-inner,
  .input-wrapper {
    border: 0 !important;
    padding: 0 !important;
  }
}


