
video {
  width: 100%;
}

audio {
  display: block;
}

ion-content.front {
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  ion-card.post {
    border-radius: 10px;


    .buttons-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      button {
        font-size: 2rem;

      }
    }

  }



}

