<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img class="logo" src="src/assets/imgs/Logo White.png"  alt="BREAK"/>
  </ion-navbar>
</ion-header>

<ion-content class="front" color="background-color" padding>
  <ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col col-12 col-sm-6 *ngFor="let media of row">
        <ion-card class="post" color="dark">

          <ion-item class="post" color="dark">
            <ion-avatar item-start>
              <img src="src/assets/imgs/nobody_m.original.jpg"/>
            </ion-avatar>
            <ion-card-title>{{ media.title }}</ion-card-title>
            <p>{{media.time_added | date}}</p>
            <p>3.5</p>
          </ion-item>


          <img *ngIf="media.media_type == 'image'" class="card-img-top"
               [src]="mediaProvider.mediaUrl + (media.filename | thumbnail:'medium')" [alt]="media.title"
               (click)="openSingle(media.file_id)">
          <video *ngIf="media.media_type == 'video'" class="card-img-top"
                 [src]="mediaProvider.mediaUrl + media.filename" controls
                 [poster]="mediaProvider.mediaUrl + (media.filename | thumbnail:'medium')"></video>
          <audio *ngIf="media.media_type == 'audio'" class="card-img-top"
                 [src]="mediaProvider.mediaUrl + media.filename" controls></audio>

          <ion-card-content>
            <p class="card-text">{{ media.description }}</p>
          </ion-card-content>

          <ion-row class="buttons-row">

              <button ion-button icon-left clear small>
                <ion-icon name="md-arrow-round-up"></ion-icon>
              </button>
              <button ion-button icon-left clear small>
                <ion-icon name="md-arrow-round-down"></ion-icon>
              </button>


            <button ion-button icon-left clear small>
              <ion-icon name="heart"></ion-icon>
            </button>

            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
            </button>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
