// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.flex-horizontal-aligned {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-refresher-content {
  background: #7F00FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.edge-of-universe {
  @extend %flex-center;
  flex-direction: column;
  margin-bottom: 30px;
  p {
    margin-top: 0;
    text-align: center;
    color: #333;
  }
  ion-icon {
    @extend %flex-center;
    font-size: 3em;
    color: #333;
  }

}

ion-content.feed {
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  ion-card.post {
    border-radius: 10px;
    margin: 0;
    width: 100%;

    ion-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .buttons-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: center;

      button {
        ion-icon {
          font-size: 2rem;
        }
        span {
          font-size: 1.1rem;
        }

      }

    }

  }

}

.menu {
  button {
    color: #FFF;
  }
}

.toolbar-background {
  background-color: black;
}

.toolbar-title {
  color: #FFF;
}

.half {
  width: 50% !important;
}

.profile-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px transparent;
  border-radius: 50%;
  background-image: linear-gradient(#222222, #222222), radial-gradient(circle at top left, #7f00ff, #e100ff);
  background-clip: content-box, border-box;
  ion-avatar {
    img {
      min-width: 100%;
      min-height: 100%;
      height: auto;
    }
  }
}

.logo {
  width: auto;
  height: 20px;
}

input,
p,
h1,
h2,
h3,
ion-label,
.card-title,
.card-text,
p.card-ios {
  color: #FFF;
  width: 100%;
  text-overflow: ellipsis;
}


.alert-head {
  h3,
  h2 {
    color: #000;
  }
}

ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
