// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.flex-horizontal-aligned {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-content.feed {
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  ion-card.post {
    border-radius: 10px;
    margin: 0;
    width: 100%;

    ion-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .buttons-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      button {
        font-size: 2rem;
      }

    }

  }

}

.menu {
  button {
    color: #FFF;
  }
}

.toolbar-background {
  background-color: black;
}

.toolbar-title {
  color: #FFF;
}

.half {
  width: 50% !important;
}

.profile-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px transparent;
  border-radius: 50%;
  background-image: linear-gradient(#222222, #222222), radial-gradient(circle at top left, #7f00ff, #e100ff);
  background-clip: content-box, border-box;
}

.logo {
  width: auto;
  height: 20px;
}

input,
p,
h1,
h2,
h3,
ion-label,
.card-title,
.card-text,
p.card-ios {
  color: #FFF;
  width: 100%;
  text-overflow: ellipsis;
}

.alert-head {
  h2 {
    color: #000;
  }
}

ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
