<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img class="logo" src="assets/imgs/Logo White.png"  alt="BREAK"/>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="upload-container">

    <form id="uploadForm">
      <br>
      <ion-input type=file name="file" accept="image/*" (change)="setFile($event)"></ion-input>
    </form>

    <p>Max filesize: 50 mb</p>

    <button *ngIf="!uploadClicked" ion-button (click)="uploadFile()">Upload</button>
    <div class="spin" *ngIf="uploadClicked">
      <ion-spinner name="circles"></ion-spinner>
      <p>Your post is uploading...</p>
    </div>
    <br>
    <canvas #myCanvas></canvas>
  </div>

</ion-content>
